html
  head
    title!= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='bower_components/bootstrap-css/css/bootstrap.min.css' rel='stylesheet')
    link(href='stylesheets/styles.css' rel='stylesheet')
  body

    nav(class="navbar navbar-inverse navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
            span(class="sr-only")
              | Toggle navigation
            span(class="icon-bar")
            span(class="icon-bar")
            span(class="icon-bar")
          a(class="navbar-brand" href="#")
            | Mars BabyApp
        div(id="navbar" class="collapse navbar-collapse")
          ul(class="nav navbar-nav")
            li(class="active")
              a(href="/meals")
                | Meals
            li
              a(href="/diapers")
                | Diapers
            li
              a(href="/temps")
                | Temps
            li
              a(href="/pics")
                | Pics

  div(class="container")
    div(class="jumbotron starter-template")
      div(id="timerBtn")
        - if (dateStart!==null)
          a(class="mealStop btn btn-lg btn-warning" href="#" role="button")
            | Stop Meal
        - else
          a(class="mealStart btn btn-lg btn-success" href="#" role="button")
            | Start Meal
        h6
          | time since last meal: 
          span(class="timePassed")
            span(class="hours")=timeSinceLastMeal.hours
              | hr(s) 
            span(class="minutes")=timeSinceLastMeal.mins
              | m(s) 

  div(class="container")
    div(class="row marketing") 
          div(class="col-lg-16")
            table(class="table table-striped")
              thead
                tr
                  td 
                    b start
                  td 
                    b end
                  td 
                    b total
              tbody(id="mealTableBody")
                for i in data
                  - i = JSON.parse(i.value)
                  - var hasEnd = (i.dateEnd === "no end yet") ? "noEnd" : "";  
                  tr(class=hasEnd)
                    - i.dateStart = (new Date(i.dateStart).toString())
                    - i.dateEnd = (new Date(i.dateEnd).toString())
                    - if(i.dateEnd === "Invalid Date")
                      - i.dateEnd = "No end added yet"
                      - i.total = "..."
                    td=i.dateStart.substring(0, 21).replace(/201./, '')
                    td=i.dateEnd.substring(0, 21).replace(/201./, '')
                    td=i.total
                      |  m(s)

  footer(class="footer")
    div(class="container")
      p(class="text-muted")
        | © Marceline 2014

  script(src='javascripts/app.js')

