html
  head
    title!= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(href='bower_components/bootstrap-css/css/bootstrap.min.css' rel='stylesheet')
    link(href='stylesheets/jumbotron-narrow.css' rel='stylesheet')
  body
div(class="container") 
  div(class="header")
    ul(class="nav nav-pills pull-right" role="tablist") 
      li(role="presentation" class="active")
        a(href="/meals") Meals
      li(role="presentation") 
        a(href="/diaper") Diaper
      li(role="presentation")
        a(href="temp") Temp
      li(role="presentation")
        a(href="/pics") Pics
    h3(class="text-muted")
      a(href="/")
        | Mars BabyApp

  div(class="jumbotron")
    h2!= message
    div(id="timerBtn")
      - if (dateStart!==undefined)
        a(class="mealStop btn btn-lg btn-warning" href="#" role="button")
          | Stop Meal
      - else
        a(class="mealStart btn btn-lg btn-success" href="#" role="button")
          | Start Meal
      h6
        | time since last meal: 
        span(class="timePassed")
          span(class="hours")=timeSinceLastMeal.hours
            | hr(s) 
          span(class="minutes")=timeSinceLastMeal.mins
            | m(s) 

  div(class="row marketing") 
        div(class="col-lg-16")
          table(class="table table-striped")
            thead
              tr
                td 
                  b start
                td 
                  b end
                td 
                  b total
            tbody(id="mealTableBody")
              for i in data
                - i = JSON.parse(i.value)
                - var hasEnd = (i.dateEnd === "no end yet") ? "noEnd" : "";  
                tr(class=hasEnd)
                  - i.dateStart = (new Date(i.dateStart).toString())
                  - i.dateEnd = (new Date(i.dateEnd).toString())
                  - if(i.dateEnd === "Invalid Date")
                    - i.dateEnd = "No end added yet"
                    - i.total = "..."
                  td=i.dateStart.substring(0, 21).replace(/201./, '')
                  td=i.dateEnd.substring(0, 21).replace(/201./, '')
                  td=i.total
                    |  m(s)

      div(class="footer")
        p 
          | © Marceline 2014

  script(src='javascripts/app.js')

